header
    .wrapper.header
        .app-title-header
            h3.header-app-name #{app_name}
            a(href="#{app_home_link}", class="app-home-link")
        .account-container
            a(href="#{login_page}", class="navbar-link") Login
            a(href="#{signup_page}", class="navbar-link") Signup
            a(href="#{logout_page}", class="navbar-link") Logout
            a(href="#{help_page}", class="navbar-link") Help
            a(href="#{about_page}", class="navbar-link") About