extends default

block content
    img(src="/img/book-candle-tailpiece.jpg", alt="Book on a candle tailpiece")
    h1 #{app_configuration.app_icon} #{app_configuration.app_name}
    h2 #{app_configuration.app_description}
    p Hey there, cyberspace wanderer. I'm pretty sure you're us
    p #{app_configuration.login} #{app_configuration.login_page}
    .signup-prompt
        p So what are you waiting for?
        a(href=app_configuration.signup_page) Start sharing the knowledge now.