extends ../layout/default
include ../mixins/error_banner
include ../mixins/bookmark_mixins

block content
    +error_banner(cookies[cookies_constant.ERROR])
    h1.profile-username= user_object.username
    if user_object.description
        p.profile-description= user_object.description
    else 
        p.profile-description You don't have a description yet. Want to screech your bio on the wall?
    p Share your #[a(href=app_configuration.user + "/" + user_object.username) profile]
    form.profile-description-edit(method="post", action=app_configuration.edit_description_uri)
        textarea(name=app_configuration.form_fields.description, maxlength="512", required) 
        input(type="submit", value="Edit", resize="false")
    form.bookmarks-file(method="post", action=app_configuration.submit_bookmarks_uri, enctype="multipart/form-data")
        input(type="file", accept=".html,.json", name=app_configuration.form_fields.bookmarks, required)
        input(type="submit", value="Submit bookmarks")
    if user_object.bookmarks
        +bookmark_component(user_object.bookmarks)
