header
    .wrapper
        .header-app-titlebox
            a(href="/")
                h3.header-app-name #{app_name}
            if app_repo_link 
                a(href=app_repo_link, class="app-home-repo-link", target="_blank") Repo Link
        .header-navbar
            if user_logged_in
                a(href=logout_page, class="navbar-link") Logout
            else
                a(href=login_page, class="navbar-link") Login
                a(href=signup_page, class="navbar-link") Signup
            a(href=help_page, class="navbar-link") Help
            a(href=about_page, class="navbar-link") About
